{% extends 'base.html.twig' %}

{% set user = app.user %}

{% block title %}
	{{ 'profile.title'|trans }}
{% endblock %}

{% block content %}
	<h1 class="text-5xl font-bold text-center">{{ 'profile.title'|trans }}</h1>
	<section class="my-20">
		<h2 class="mb-20 text-3xl font-bold text-center md:text-left">{{ 'profile.meetings.title'|trans }}</h2>
		<table class="w-full mx-auto table-auto md:w-3/4">
			<thead class="border-b border-slate-500">
				<tr>
					<th>{{ 'profile.meetings.date'|trans }}</th>
					<th>{{ 'profile.meetings.duration'|trans }}</th>
					<th>{{ 'profile.meetings.action'|trans }}</th>
				</tr>
			</thead>
			<tbody>
				{% for meeting in user.meetings %}
				<tr class="h-20 border-b border-slate-500">
					<td class="text-center">{{ meeting.timeSlot|date('d/m/Y H:i') }}</td>
					<td class="text-center">{{ meeting.duration }}h</td>
					<td>
					{% if meeting.joinable %}
						{% include 'components/_button.html.twig' with {label: 'profile.meetings.join'|trans, icon: '@images/icons/users.svg', link: path('meeting_join', {id: meeting.id}), wrapper_classes: 'flex justify-center', outlined: true} only %}
					{% endif %}
					{% if meeting.playable %}
						{% include 'components/_button.html.twig' with {label: 'profile.meetings.replay'|trans, icon: '@images/icons/player.svg', link: path('meeting_replay', {id: meeting.id}), wrapper_classes: 'flex justify-center', outlined: true} only %}
					{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
    {% include 'components/_button.html.twig' with {label: 'profile.logout'|trans, icon: '@images/icons/logout.svg', link: path('logout'), wrapper_classes: 'flex justify-items-start', outlined: true} only %}
{% endblock %}
