{% set width = width|default("w-full") %}
{% set classes = classes|default("flex items-center justify-center px-8 py-3 text-base font-medium text-white bg-teal-700 border border-transparent rounded-md hover:bg-teal-500 md:py-4 md:text-lg md:px-10 font-bold") %}
{% set classes = classes ~ " " ~ width %}
{% set type = type|default("button") %}
{% set icon = icon ? '<div class="mr-2">' ~ include(icon) ~ '</div>' : '' %}

<div class="flex justify-center mt-5 sm:mt-8">
    <div class="rounded-md shadow">
{% if link is defined %}
	<a href="{{ link }}" class="{{ classes }}">{{ icon|raw }}{{ label }}</a>
{% elseif type == 'submit' %}
	<input type="submit" class="{{ classes }}" value="{{ label }}">
{% else  %}
	<button class="{{ classes }}">{{ icon|raw }}{{ label }}</button>
{% endif %}
    </div>
</div>