
{% set outlined = outlined|default(false) %}
{% set width = width|default("w-full") %}
{% set classes = classes|default("flex items-center justify-center px-8 py-3 text-base font-medium border rounded-md md:py-4 md:text-lg md:px-10 font-bold") %}
{% set classes = classes ~ " " ~ width %}
{% if outlined %}
	{% set classes = classes ~ " text-teal-700 bg-white hover:text-teal-500 border-teal-700 hover:border-teal-700" %}
{% else %}
	{% set classes = classes ~ " text-white bg-teal-700 hover:bg-teal-500 border-transparent" %}
{% endif %}

{% set wrapper_classes = wrapper_classes|default("flex justify-center mt-5 sm:mt-8") %}
{% set type = type|default("button") %}
{% set icon = icon ? '<div class="mr-2">' ~ include(icon) ~ '</div>' : '' %}

<div class="{{ wrapper_classes }}">
    <div class="rounded-md shadow">
{% if link is defined %}
	<a href="{{ link }}" class="{{ classes }}">{{ icon|raw }}{{ label }}</a>
{% elseif type == 'submit' %}
	<input type="submit" class="{{ classes }}" value="{{ label }}">
{% else  %}
	<button class="{{ classes }}">{{ icon|raw }}{{ label }}</button>
{% endif %}
    </div>
</div>