{% set classes = classes|default("flex items-center justify-center w-full px-8 py-3 text-base font-medium text-white bg-teal-700 border border-transparent rounded-md hover:bg-teal-500 md:py-4 md:text-lg md:px-10 font-bold disabled:bg-slate-300") %}
{% set type = type|default("button") %}
{% set attr = attr|default("") %}

<div class="flex justify-center mt-5 sm:mt-8">
    <div class="rounded-md shadow">
{% if link is defined %}
	<a href="{{ link }}" class="{{ classes }}">{{ label }}</a>
{% elseif type == 'submit' %}
	<input type="submit" class="{{ classes }}" value="{{ label }}">
{% else  %}
	<button class="{{ classes }}" {{ attr|raw }}>{{ label }}</button>
{% endif %}
    </div>
</div>