{% set label = label|default("notice") %}
{% set message = message|default("") %}
{% set width = width|default("md:w-2/3") %}

{% if label == 'notice' %}
    {% set text_color = "text-blue-500" %}
    {% set bg_color = "bg-blue-100" %}
{% elseif label == 'success' %}
    {% set text_color = "text-green-500" %}
    {% set bg_color = "bg-green-100" %}
{% endif %}

<div class="flex justify-center p-4 mx-auto mb-4 text-sm {{ text_color }} {{ bg_color }} rounded-lg {{ width }}" role="alert">
    <svg class="inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
    {% if message.message is defined %}
        <div>{{ message.message|trans(message.params)|nl2br }}</div>
    {% else %}
        <div>{{ message|trans|nl2br }}</div>
    {% endif %}
</div>